.container {
  text-align: center;
  margin-top: 80px;
  background: white;
  color: black;
  min-height: 100vh;
  padding: 20px;
}

.dark {
  background: #222;
  color: white;
}

.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}